@import "bootstrap/dist/css/bootstrap.min.css";
@import "./home.css";
@import "./navigation.css";
@import "./register.css";
@import "./floatingInputs.css";
@import "./profileCard.css";
@import "./properties/step1-basic-information.css";
@import "./properties/step3-features.css";

body {
    font-family: "Montserrat", sans-serif;   
}