@import "bootstrap/dist/css/bootstrap.min.css";
@import "./home.css";
@import "./navigation.css";
@import "./register.css";
@import "./floatingInputs.css";
@import "./profileCard.css";

body {
    font-family: "Montserrat", sans-serif;   
}