.property-list .transition-all {
    transition: all 0.3s ease;
}

.property-list .hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
